@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

#logo{
    width: 20%;
}
h1{
    color: antiquewhite;
      font-family: "Playfair Display", serif;
}
#name{
    color: rgb(179, 28, 187);
    font-size: 50px;
}
#va{
    color: rgb(39, 63, 163);
    font-size: 50px;
}
#voice{
    width: 100px;
    display: none;

}
#btn{
    width: 20%;
    background: linear-gradient(to right,rgb(21,145,207),rgb(201,41,116));
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: bisque;
    box-shadow: 2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116) ;
    transition: all 0.5sec;
    cursor: pointer;
}
#btn:hover{
    box-shadow:  2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116);
    letter-spacing: 2px;

}

#credit {
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 20px;
    color: #ed0a0a;
    opacity: 0.7;
    font-family: "Josefin Sans", sans-serif;
    z-index: 9999;
}
